h1 {
    padding: 10px;
    font-size: 40px;
    background-color: rgb(153, 99, 0);
    color: rgb(49,49,49);
    margin-bottom: 35px;
    text-align: left;
}

span {
    display: inline-block;
}

body {
    background-color: rgb(49, 49, 49);
}

.currentCard {
    width: 15rem;
    padding: 10px;
}

.today {
    padding: 10px;
}

.card-body {
    color: white;
    margin: 10px;
    background-color: rgb(153, 99, 0);
    display: inline-block;
}

.hidden {
    display: none;
}
