h1 {
    text-align: center;
    padding: 20px;
    font-size: 48px;
    background-color: slategrey;
    color: white;
    margin-bottom: 30px;
}

.currentCard {
    border: 1px solid orange;
    width: 16rem;
}

.container {
    border: 1px solid red;
}
.row {
    border: 1px solid blue;
}

.col {
    border: 1px solid green;
}

.today {
    padding: 10px;
}

span {
    display: inline-block;
}
